.shadowed{
    text-shadow: 1px 1px 2px #180d49;
}

@media (min-width: 767px) {
  .navbar-01 .navbar-brand img{
      height: 80px;
  }

}
@media (max-width: 767px) {
  .navbar-01 .navbar-brand img{
      height: 60px;
  }
    .navbar-01 .navbar-header{
        margin-top: 1vh;
    }
}
a.disabled {
pointer-events: none;
cursor: default;
color: #adadad!important;
}